/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* fine reset */
/* regole generali */
body {
  background-color: #afebe4;
  font-family: 'Montserrat', sans-serif;
  color: #3b5162;
  line-height: 30px;
  font-size: 15px;



}
header {
  line-height: 30px;

  height: 800px;
  border-bottom: 3px solid black;
  overflow: hidden;
  background-color: #fff3ee;
  background-image: url(../img/jumbotron.png);
  background-position: 100% 170%;
  background-repeat: no-repeat;
  background-size: 1400px;


}
main {
  margin-top: 80px;
  border-top: 3px solid black;
  background-color: #f4f9fd;
  height: 2000px;
}


h1 {
  line-height: 50px;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}
a {
  color: #3b5162;
  line-height: 38px;
  text-decoration: none;
}

ul li {
  display: inline-block;
  list-style-type: none;
}
header .col {
  width: 50%;

}

.col {
  float: left;
  height: 100%;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.content {
  padding: 0 10%;

}


.cta-orang{
  border: 1px solid #fe7759;
  border-radius: 4px;
  background-color: #fe7759;
  color: white;
  display: inline;
}
.cta-orang:hover  {
  background-color: rgba(254,122,89,0.3);
}


.freeupgr {
  font-size: 11px;
  display: block;
}
.learnmore {
  padding: 15px 27px;
  margin: 0 20px;
  line-height: 10;
}
/* formattazione testo *//* NOTE: eventualmente da eliminare */

.check-icn {
  color: #fe7759;
}
.widget-h3 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 20px;
}
.widget-h4 {
  padding-bottom: 15px;
  font-size:18px;
  font-weight: 600;
}
.widget-p {
  padding: 0px 40px;
}


/* || HEADER ||  */
/* NOTE: DA ALLINEARE */
/* INIZIO NAV BARRA  */
header .nav-bar{
  width: 100%;
  height: 100px;
  background-color: #f5f8fa;

}
header .nav-bar .content .col {
  margin-top: 30px;
  width: 50%
}
header .nav-bar .content .menu li {
  line-height: 38px;
}
/* COL SINISTRA */
header .nav-bar .content .col.lingua{
}
.content .col.lingua .menu li:first-child{
  margin-left: 0;
  padding-left: 0px;
}
/* COL DESTRA */
header .nav-bar .content .col.login {
  text-align: right;
}
.content .col.login .menu li:last-child{
  margin-right: 0;
}
/* NOTE:  elementi con cornice */
.col.login .menu .butt-login {
  border: 1px solid #fe7759;
  padding: 5px 10px;
  border-radius: 4px;
  display: inline;
}
.col.login .menu .butt-login a {
  color: #fe7759

  ;
}

header .content .col .menu li a:hover {
  color: #fe7759;
}

.col.login .menu .butt-login:hover {
  background-color: rgba(254,122,89,0.1)
}

.col.login .menu .cta-orang {
  padding: 5px 20px;
  margin: 0 20px;
}
.col.login .menu .cta-orang a {
  color: white;
}


.col.login .menu .lent-icn {
  color:#18aac1;
  padding: 0 20px;
}
.col.login .menu .lent-icn:hover {
  font-size: 20px;
}


/*  INIZIO NAV MENU*/
header .nav-menu {
  border-top: 1px solid black;
  background: #ffffff;
  height: 100px;
  width: 100%;
}
header .nav-menu .head-menu .col.logo {
}
header .nav-menu .head-menu .col.logo img {
  padding-top: 30px;}
.col.list-menu {
  line-height: 38px;

}
.col.list-menu .menu  {
  text-align: right;

}
.col.list-menu .menu li {
  line-height: 38px;

  padding: 30px 5px;
}
.col.list-menu .menu li:last-child {
  margin-right: 0px;
  padding-right: 0px;
}


/* INIZIO TEASER */
header .teaser{
  margin-top: 50px;
}
header .teaser .title .teaser-box {
  width: 660px;
}
header .title .teaser-box .menu {
}
header .title .teaser-box .menu li {
  padding: 25px 0px;
}
header .title .teaser-box .menu .cta-orang {
  padding: 15px;
}
/* ||FINE HEADER|| */

 /* || INIZIO MAIN || */

 /* riga uno */
main #widget {
 }
main #widget .row-rubik {
  padding: 30px 0px; /* NOTE: padding tra row 1 e row 2 */
  text-align: center;
  width: 70%;
  margin: auto;
}
main #widget .row-rubik img {
   padding-top: 40px;
   height: 220px;
 }
main #widget .row-rubik h2 {
   padding: 20px;
   font-size: 30px;
   font-weight: bold;
 }


 /* riga due */
 .frame {
   background: white;
   padding: 30px 10px;
   width: 100%;
   height: 350px;
   border: 1px solid lightgrey;
   border-radius: 10px;
 }
 /* COLONNA SINISTRA */

main #widget .row-Illustration .col.book {
  padding: 50px;
  width: 30%;
  text-align: center;
}
main #widget .row-Illustration .col.book img {
  height: 100px;
}
/* NOTE: da rivedere */
main #widget .row-Illustration .col.book a {
  margin: auto;
  display: block;
  width: 150px;
  padding: 2px 2px

}

/* |||||||||||||||||||||||
/* COLONNA DESTRA */
main #widget .row-Illustration .col.testo{
  padding: 50px;
  width: 50%;
}
main #widget .row-Illustration .col.testo .widget-p  {
  padding: 15px 0;
}
main #widget .row-Illustration .col.testo hr {
  margin-left: 200px;
  margin-bottom: 20px;}

main #widget .row-Illustration .col.testo .menuwidget li {
  padding: 2px 5px;
}
main #widget .row-Illustration .col.testo .menuwidget li:first-child{
  padding-left: 0px;
}


/* riga tre general */
main #widget .offert {
  margin-top: 50px;}
main #widget .offert .col {
  text-align: center;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 10px;}
main #widget .offert img {
  padding-top: 20px;
  height: 100px;}
main #widget .offert .col .hr-center {
  margin: 24px 50px;
  }
  /* colonna sinistra */
main #widget .offert .col.marketing {
  width: 30%;}
main #widget .offert .menu li  {
    line-height: 17px;
    padding: 0 50px;
    text-align: left;
    display: block;
  }
  main #widget .offert .menu li:last-child  {
    margin-bottom: 100px;
  }
main #widget .offert .menu li:last-child  {
    margin-bottom: 100px;
  }

/* colonna centrale */
main #widget .offert .col.sales {
  width: 30%;
  margin: 0 5%;
}
/* colonna destra */
main #widget .offert .col.service {
  width: 30%;
}
